
.logo{
  width:210px;
  height:60px;
  object-fit:contain;

}
.navbar {
    transition: all 0.5s;
    padding: 0;
    background-color: #fff;
}

.nav-item {
  padding-right: 10px;
}
.navbar .nav-link {
    color: #555;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #f97068;
    text-decoration: none;
}

#navbarSupportedContent{
  text-align: center;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #f97068;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.bars{
  color: black;
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0;
    bottom: 0;
    left: 100%;
    width: 60%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #f3e0a7;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;

  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }

  ul{
    margin-top: 50px;
    text-align: left;
  }
}
.brand{
  color: black;
text-align: left;
}

.education-top{
      background-image: url(images/old-age1.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height:450px;
      object-fit: cover;

}

.fade-background{
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(56,50,50,0.9));
  width: 100%;
  height: 450px;

}
.top-text{
  /* font-family: 'Montserrat', sans-serif; */
  color: white;
  float: right;
  margin-top: 150px;
  margin-right: 70px;
  max-width: 400px;

}
.top-p{
  font-size: 30px;
   font-weight:bold;
}

@media only screen and (max-width:768px){
   .top-p{
   font-size: 45px;
  }
  .top-text{
     margin: 60% 25% 0 0;
    max-width: 50%;
    text-align: center;

  }
.fade-background{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(56,50,50,0.9));
}
.top-p2{
  display: none;
}

}



.top-btn{
margin-bottom: 30px;
}



.edu{
  margin-top: 150px;
  padding:40px 50px 40px 50px;
  background-color:#f1f3f8;
  border-radius: 15px;
}

.vl {
  border-left: 2px solid #f97068;
  height: 75px;
  margin-bottom: 10px;


}
 .border{
   float: right;
 }

.class-img{
  max-width: 600px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}
@media only screen and (max-width:768px){
  .class-img{
    width: 320px;
    height: 300px;

  }
}
/* -------------------------------------- */
.line{
  text-align:center;
   margin:100px auto 50px auto;
   max-width: 60%;
}
@media only screen and (max-width:768px){
  .line{
    max-width: 90%;
  }
}


/* ------------card----------- */
.cards-img{
  height:200px;
  object-fit:cover;
}


.card{
  margin-top: 50px;
}

.image {
  opacity: 1;
  display: block;
  transition: 0.6s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .image {
  opacity: 0.5;

}

.card:hover .middle {
  opacity: 1;
}

.card-body{
text-align: center;

}
.card-text{
font-size: 13px;
color: grey;

}

.card:hover{
  transform: scale(1.05);
}


/* ------------testimonial---------------- */


.testimonial-imgs {
  width: 12%;
  border-radius: 50%;
  border:2px solid white;
  padding: 5px;
  margin: 20px;
}
.carousel-item {
  padding: 3% 15%;

}

#testimonials {
  margin-top: 180px;
  /* font-family: 'Montserrat', sans-serif; */
    background-image: url(images/class2.jpg);
    background-size: cover;
     color: #fff;
     text-align: center;
}

.testimonials-cover{
  background:rgba(0,0,0,0.6);
  background-size: cover;

}

@media only screen and (max-width:1024px){
  .testimonial-imgs {
    width: 40%;
    margin: 20px;
  }
}

/* --------------footer----------------------- */

.logo-bottom{
  width: 100px;
  height: 70px;

}
.links{
  margin-top: 20px;
}
.links  i{
  color: #f97068;
  padding: 0 20px;
}

.links  i:hover{
  color:black;

}

footer{
  font-size: 10px;
  text-align: center;
  background-color:#f1f3f8;
  padding: 50px;
  margin-top: 150px;
}


.write{
  text-align: center;
  padding-top: 20px;
}


.custom-shape-divider-bottom-1599889151 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
    line-height: 0;
    transform: rotate(180deg);
    position: fixed;
}

.custom-shape-divider-bottom-1599889151 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 108px;
}

.custom-shape-divider-bottom-1599889151 .shape-fill {
    fill: #f1f3f8;
}
